<div class="head">
  <h1>
    {{title}}
  </h1>
</div>
<div class="box">
 
 <div class="editRow">
  <h2>List of Passwords here</h2> <button (click)="addPassword()">Add Password</button>
 </div>

 <div *ngFor="let item of passwords" class="row">
  <div>Title: {{item.title}}</div>
  <div>Password: {{item.password}}</div>
  <div>
    <button (click)="deletePassword(item.id)" class="buttonActions">Delete</button>
    <button (click)="editPassword(item)" class="buttonActions">Edit</button>
  </div>
</div>

</div>
<div class="box" *ngIf="selectedPassword != null">
  <div class="editRow"><h2>edit Password</h2> </div>
  <div class="container">
    <label>Id: {{selectedPassword.id}} </label>
    <input type="text" [(ngModel)]="selectedPassword.title" placeholder="title" />
    <input type="text" [(ngModel)]="selectedPassword.password" placeholder="password" />
    <button (click)="savePassword(selectedPassword)">save Password</button>
  </div>
</div>
