<div class="head">
  <h1>
    {{title}}
  </h1>
</div>
<div class="box">
 <h2>List of Passwords here</h2>

 <div *ngFor="let item of passwords" class="row">
  <div>Title: {{item.title}}</div>
  <div>Password: {{item.password}}</div>
  <div></div>
</div>

</div>
<div class="box">
  <h2>add Password</h2>
  <div class="container">
    <label>Id: {{passwordtoadd.id}} </label>
    <input type="text" [(ngModel)]="passwordtoadd.title" placeholder="title" />
    <input type="text" [(ngModel)]="passwordtoadd.password" placeholder="password" />
    <button (click)="addpassword(passwordtoadd)">save Password</button>
  </div>
</div>
