.head{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}
.box{
    background-color: lavender;
    margin-top: 20px;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding-bottom: 5px;
}

.buttonActions{
    margin-right: 5px;
    margin-bottom: 5px;
}

button{
    height: 2rem;
}